body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: #ffffff;
	background-color: #4262f4;
	
text-shadow: 1px 1px #000000;
	text-align: center;

}



h1 {
	
font-size: 3.0em;
	
text-align: center;
	
text-shadow: 1.3px 1.3px #000000;

}


td, th {
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #dddddd;

}